.button {
  display: block;
  box-sizing: border-box;
  border: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  color: @white-color;

  background-color: @leaf-color;

  &:hover {
    background-color: @grass-color;
  }

  &:active {
    color: @white-30-color;
    background-color: @grass-color;
  }
}
