.contacts {
  background-color: @white-color;
}

.contacts__slogan {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: @black-three-color;
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: @greyish-brown-color;

  margin: 0;
  padding: 0;
}
