.page-footer {
  background-color: @light-grey-color;
}

.page-footer__map {
  text-align: center;
}

.page-footer__map-image {
  width: auto;
  height: 400px;
}

.page-footer__logo {
  display: block;
  text-align: center;

  margin-top: 39px;
  margin-bottom: 31px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: auto;
    padding-top: 58px;
    padding-bottom: 58px;
  }

  .page-footer__logo {
    margin: 0;
    padding: 0;
  }
}
