.page-footer {
  background-color: @light-grey-color;
}

.page-footer__map {
  text-align: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 178px;
    left: 50%;
    transform: translateX(-50%);
    width: 55px;
    height: 53px;

    background-image: url("../img/map-pin.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.page-footer__map-image {
  width: auto;
  height: 400px;
}

.page-footer__logo {
  display: block;
  text-align: center;

  margin-top: 39px;
  margin-bottom: 31px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: auto;
    padding-top: 58px;
    padding-bottom: 58px;
  }

  .page-footer__map::before {
    top: 150px;
    left: 50%;
    transform: translateX(-53%);
    width: 113px;
    height: 106px;
  }

  .page-footer__logo {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    position: relative;
  }

  .page-footer__map::before {
    left: 70%;
    transform: translateX(-10%);
  }
}
