.promo {
  color: #ffffff;

  background-color: #68b738;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.promo__page-title {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}

.promo__page-slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.promo__program-button {
  font-size: 14px;
  line-height: 18px;
}
