.promo-catalog__list {
  list-style: none;
}

.promo-catalog__item {
  background-color: #f2f2f2;
}

.promo-catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;

  margin: 0;
  padding: 0;
}

.promo-catalog__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  margin: 0;
  padding: 0;
}

a.promo-catalog__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #111111;

  background-color: #f2f2f2;
}

a.promo-catalog__link:active {
  color: rgba(17, 17, 17, 0.3);
}
